[submodule "packages/liszt_web"]
	path = packages/liszt_web
	url = https://github.com/dikastes/liszt_web
	branch = 8-upgrade-to-typo3-v13
[submodule "packages/liszt_common"]
	path = packages/liszt_common
	url = https://github.com/dikastes/liszt_common
	branch = 12-upgrade-to-typo3-v13
[submodule "packages/liszt_catalograisonne"]
	path = packages/liszt_catalograisonne
	url = https://github.com/dikastes/liszt_catalograisonne
	branch = 15-update-to-typo3-v13
[submodule "packages/liszt_bibliography"]
	path = packages/liszt_bibliography
	url = https://github.com/dikastes/liszt_bibliography
	branch = 16-upgrade-to-typo3-v13
